@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #424242;
  font-family: 'Roboto', sans-serif;
  margin: 0 0 0 0;
  text-align: center;
}
input{
  color: black;
}

a {
  color: #1976D2;
  text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
h1{
  color: #3F51B5;
}
.form-control{
  min-width: 250px;
  max-width: 550px;
}
p{
  font-family: 'Roboto Thin', sans-serif;
}
